{
  "batman": "bat0",
  "hostname" "gw1"
  "bridge": "br-client",
  "mesh-vpn": [ "mesh-vpn" ],
  "fastd_socket": "/var/run/fastd.mesh_vpn.socket",
  "nodeinfo": {
    "location": {
      "latitude": 52.3745913,
      "longitude": 4.8285751
    },
    "network": {
      "mac": "6e:b4:ef:fe:a3:a2"
    },
    "node_id": "6eb4effea3a2",
    "owner": {
        "contact": "contact@example.tld"
    },
    "software": {
      "firmware": {
        "release": "0.4.1"
      }
    },
    "system": {
      "site_code": "ffslfl"
    },
	"vpn": True
  }
}
